.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
}

.dashboard {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.date_input {
  outline: none;
  width: 10em;
}

.CodeMirror {
  height: 100%;
}
